@use './styles/_colors'
@use './styles/_sizes'
@use './styles/_boxes'
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap')

*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body, #root
  @extend .full-height

body
  font-family: Ubuntu, sans-serif
  font-size: sizes.$text
  font-weight: 400

ul
  list-style-type: none

a
  text-decoration: none
  color: colors.$text

p
  padding: boxes.$spacing 0