@use '../../styles/_boxes'
@use '../../styles/_colors'
@use '../../styles/_sizes'

.order
  @extend .panel
  display: grid
  grid-template-columns: 1fr 1fr
  grid-auto-rows: 1fr auto
  gap: boxes.$spacing
  border: boxes.$border
  border-radius: sizes.$radius

  button
    grid-column: 1 / span 2
    background-color: white

  button:active
    background-color: colors.$background

  p
    @extend .gap
    align-items: center
    padding: 0

  .ordered-products
    @extend .gap
    flex-direction: column
    grid-column: 1 / span 2

    & > div
      @extend .panel
      background-color: white
      border-radius: sizes.$radius
      border: boxes.$border
      display: grid
      grid-template-columns: 1fr 1fr
